body {
  background-color: lightgray;
  text-align: center;
  font-family: Marker Felt, fantasy;
  color: black;
  margin: 5%;

}

.btn {
  background-image: linear-gradient(to top, #df0211, #e35102, #e57808, #e59a24, #e5b844, #e7bc48, #e8c14b, #eac54f, #eeb135, #f39b1c, #f78305, #fb6600);
  color: black;
  border-color: black;
  font-family: Chalkduster, fantasy;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #df0211, #e35102, #e57808, #e59a24, #e5b844, #e7bc48, #e8c14b, #eac54f, #eeb135, #f39b1c, #f78305, #fb6600);
  color: #df0211;
  border-color: #df0211;
}

.jumbotron {
  background-image: linear-gradient(to top, #df0211, #e35102, #e57808, #e59a24, #e5b844, #e7bc48, #e8c14b, #eac54f, #eeb135, #f39b1c, #f78305, #fb6600);
  border-style: groove;
  border-color: black;
  font-family: Chalkduster, fantasy;
  text-align: center;
  margin: 25px;
}

.showIngredients{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: justify
}

#top, #bottom, #left, #right {
	background-image: url(https://bit.ly/2KqnVX0);
  position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
